{{ $page := .page }}
{{ $class := .class }}
{{ $hide_language_name := site.Params.header.navbar.hide_language_name | default false }}

{{- if $page.IsTranslated -}}
  <div class="flex justify-items-start {{ with $class }}{{ . | safeCSS }}{{ end }}">
    {{- range $page.Translations -}}
      {{- $target_name := .Language.LanguageName | default (index site.Data.languages .Lang) -}}
      {{- $label := printf "Switch to %s" $target_name -}}
      {{- if eq $page.Lang "zh" -}}
        {{- $label = printf "切换到%s" $target_name -}}
      {{- end -}}
      <a
        href="{{ .RelPermalink }}"
        hreflang="{{ .Language.LanguageCode | default .Lang }}"
        lang="{{ .Language.LanguageCode | default .Lang }}"
        rel="alternate"
        title="{{ $label }}"
        aria-label="{{ $label }}"
        class="grow h-7 rounded-md px-2 text-left text-xs font-medium text-gray-600 transition-colors dark:text-gray-400 hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-primary-100/5 dark:hover:text-gray-50 flex items-center gap-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        {{- partial "functions/get_icon" (dict "name" "globe-alt" "attributes" "height=18") -}}
        {{- if not $hide_language_name -}}<span>{{ $target_name }}</span>{{- end -}}
      </a>
    {{- end -}}
  </div>
{{- end -}}
